@forward './abstract/index';
@forward './base/index';
@forward './components/index';
@use './layout/header';
@use './components/logo';
@use './components/navigation';
@use './components/burger';
@use './layout/welcome';
@use './layout/about';
@use './layout/services';
@use './layout/prices';
@use './layout/contacts';

.footer {
	padding-inline: calc((100% - 1220px) / 2);
	display: flex;
	justify-content: space-between;
	min-height: 13rem;
	align-items: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 50px;
	a {
		transition: color 0.3s;
		&:hover {
			color: var(--color-red);
		}
	}
}
.social {
	display: flex;
	gap: 2rem;
}
.copyright {
	display: flex;
	gap: 2rem;
	margin-right: 2.1rem;
}
@keyframes dropdown-fadein {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}
