@forward './abstract/index';
@forward './base/index';
@forward './components/index';
@use './layout/header';
@use './components/logo';
@use './components/navigation';
@use './components/burger';
@use './layout/welcome';
@use './layout/about';
@use './layout/services';
@use './layout/prices';
@use './layout/contacts';

.footer {
	padding-inline: calc((100% - 1220px) / 2);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 13rem;
	align-items: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	padding-top: 22px;

	a {
		transition: color 0.3s;
		&:hover {
			color: var(--color-red);
		}
	}
}
.social {
	display: flex;
	gap: 2rem;
	li {
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}
}
.copyright {
	display: flex;
	gap: 2.25rem;
	margin-right: 0.5rem;
}
@media screen and (min-width: 768px) {
	.footer {
		padding-top: 32px;
		gap: 1.3rem 0;
	}
	.social {
		margin-top: 1.5rem;
	}
}
@media screen and (min-width: 1440px) {
	.footer {
		flex-direction: row;
		padding-top: 0;
	}
	.copyright {
		display: flex;
		gap: 2rem;
		margin-right: 2.1rem;
	}
	.social {
		margin-top: 0;
	}
}
@keyframes dropdown-fadein {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}
